/build
*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
/.idea/misc.xml
/app/debug/debug/app.aab
app/debug/debug/
/app/debug/app-debug.apk
/app/debug/output.json
/app/release/release/app.aab
app/debug/app-debug.apk
app/debug/output.json
app/release/release/